<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0,">
    <link rel="stylesheet" href="/css/styles-carrito.css">
    <link rel="stylesheet" href="/css/stylesHeader.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,100&display=swap"
        rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <%- include("../partials/header")  %> 
    <main>
        <section class="descripcion">
            <h1>Tu carrito</h1>
            <div class="espacio">
                <h3 class="total">Total</h3>
                <input type="number" name="cantidad-de-producto" id="cantidad-de-producto"
                    style="width: 60%; height:2rem">
            </div>
        </section>
        <article class="contenedor">
            <section class="robot-seccion">
                <div class="img-robot">
                    <img class="tamaño-robot" src="images/robot-nft.png" alt="imagen-producto-robot">
                </div>
                <div class="compra-descripcion">
                    <p class="descripcion-robot">
                        Robot NFT. Buy this amazing robot NFT,
                        and you will count with his
                        crazy noises at your home</p>
                </div>
                <div>
                    <p class="precio-robot">$ 1000</p>
                </div>
            </section>

            <div class="contgrid">
                <div class="producto">
                    <div class="imagen">
                        <img class="img" src="images/spider.png" alt="imagen-producto-comprado">
                    </div>

                    <div class="compra-descripcion">
                        <p class="oracion"> The Spider NFT. Buy this amazing spider NFT, and you will count with his
                            willness at your home</p>
                        <p class="precio">$ 1300</p>

                        <section class="pago">
                            <i class="fa-brands fa-cc-visa"></i>
                            <i class="fa-brands fa-cc-mastercard"></i>
                            <i class="fa-brands fa-cc-paypal"></i>


                        </section>
                        <section class="botones">

                            <section class="boton-compra">
                                <button type="button" class="addcart" style="height: 40px; width: 100px;">Buy</button>
                            </section>
                            <section class="boton-seguir">
                                <button type="menu" class="seguir-comprando">Continue Shopping</button>
                            </section>
                        </section>

                    </div>


                </div>
            </div>
        </article>

    </main>

    <%- include("../partials/footer") %> 
    

</body>

</html>