<footer>
    <div class="fondoNegro">
        <div class="cajaLogoIconos">
            <img class="imgFooter" src="images/logoFooter.png" alt="Logo">
            <ul type="none">
                <li><a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/"><i class="fa-brands fa-square-youtube"></i></a></li>
                <li><a href="https://twitter.com/home?lang=es"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://ar.pinterest.com/"><i class="fa-brands fa-pinterest"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </div>
        <div class="navegadores">
            <ul type="none">
                <li><a href="#">Home</a></li>
                <li><a href="#">Marketplace</a></li>
                <li><a href="#">Drops</a></li>
            </ul>
        </div>
        <div class="navegadores">
            <ul type="none">
                <li><a href="#">Marcas</a></li>
                <li><a href="#">Crear</a></li>
                <li><a href="#">About Us</a></li>
            </ul>
        </div>
        <div class="cajaMailDerechos">
            <form action="#" method="post">
                <label for="correo"></label>
                <input type="email" name="email" id="correo" placeholder="Buscar en la web..." required>
                <button class="footerButton" type="submit">Go</button>
            </form>
            <p>Copyright 2022. All Rights Reserved</p>
        </div>
    </div>

    <div class="fondoNegroCelular">
        <div class="celularFormulario">
            <form action="#" method="post">
                <label for="correo"></label>
                <input type="email" name="email" id="correo" placeholder="Update in your inbox..." required>
                <button class="footerButton" type="submit">Go</button>
            </form>
        </div>
        <div class="navegadoresCelular">
            <div class="navegadores">
                <ul type="none">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Marketplace</a></li>
                    <li><a href="#">Drops</a></li>
                </ul>
            </div>
            <div class="navegadores">
                <ul type="none">
                    <li><a href="#">Marcas</a></li>
                    <li><a href="#">Crear</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
        </div>
        <div class="iconosCelular">
            <ul type="none">
                <li><a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a></li>
                <li><a href="https://www.youtube.com/"><i class="fa-brands fa-square-youtube"></i></a></li>
                <li><a href="https://twitter.com/home?lang=es"><i class="fa-brands fa-twitter"></i></a></li>
                <li><a href="https://ar.pinterest.com/"><i class="fa-brands fa-pinterest"></i></a></li>
                <li><a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </div>
        <img src="\images\logoFooter.png" alt="Logo" class="logo-footer">
        <p>Copyright 2022. All Rights Reserved</p>

        
    </div>
</footer>