<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Sitio THE NFT MARKET</title>
    <link rel="stylesheet" href="css/estilos.css"> 
<!-- Falta sumar fuentes tipograficas. --> 
</head>
<body>
  <header></header>
  <main>
    <section class="Header-main">  
        <h1> The NFET MARKET </h1>
        <H2> El lugar mas cool del mundo donde comprar esos NFTS que te rompen la cabezaaaaaa!  </H2>
        <div> 
            <form action="/contact" method="post">
                <input type="email" name="email">
            </form>
        </div>

       <!-- //meter aca una barra para ingreso de newsletters// --> 
     </section>
            <section class="Seccion productos-main">
                <h2 class="Titular productos"> Dale, elegi uno, seguro te haces rico. </h2> 
                    <section class="Subseccion-productos">
                        <article> 
                            <img class="Imagen-producto" width="320" height="auto" src="img/droga-nft.png" alt="Droga NFT">
                            <section class="Descripcion-nft"> 
                                <div class="DescripcionDetalle-nft">
                                    <p class="Precio"> 31 ETH </p> <!-- Ver de poner algun logo de bitcoin o etherium --> 
                                </div>
                                <h3 class="NombreNft"><strong>Droga NFT</strong></h3>
                            </section>
                        </article>
                    </section>
                    <section class="Subseccion-productos">
                        <article> 
                            <img class="Imagen-producto" width="320" height="auto" src="img/vaca-nft.png" alt="Vaca NFT">
                            <section class="Descripcion-nft"> 
                                <div class="DescripcionDetalle-nft">
                                    <p class="Precio"> 10 ETH </p> <!-- Ver de poner algun logo de bitcoin o etherium --> 
                                </div>
                                <h3 class="NombreNft"><strong>Vaca NFT</strong></h3>
                            </section>
                        </article>
                    </section>
                    <section class="Subseccion-productos">
                        <article> 
                            <img class="Imagen-producto" width="320" height="auto" src="img/robot-nft.png" alt="Robot NFT">
                            <section class="Descripcion-nft"> 
                                <div class="DescripcionDetalle-nft">
                                    <p class="Precio"> 12 ETH </p> <!-- Ver de poner algun logo de bitcoin o etherium --> 
                                </div>
                                <h3 class="NombreNft"><strong>Robot NFT</strong></h3>
                            </section>
                        </article>
                    </section>
                    <section class="Subseccion-productos">
                        <article> 
                            <img class="Imagen-producto" width="320" height="auto" src="img/nafta-nft.png" alt="Nafta NFT">
                            <section class="Descripcion-nft"> 
                                <div class="DescripcionDetalle-nft">
                                    <p class="Precio"> 35 ETH </p> <!-- Ver de poner algun logo de bitcoin o etherium --> 
                                </div>
                                <h3 class="NombreNft"><strong>Nafta NFT</strong></h3>
                            </section>
                        </article>
                    </section>
            </section>
            <section class="Seccion-Redes">

                
            </section>
  </main>

</body>
</html>