body {
    background-image: url(/images/fondoLogin.jpg);
}

.main2 {
    background-color: rgba(255, 191, 248, 0.747);
    width: 355px;
    margin: 5% auto;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(143, 142, 142);
    transition: box-shadow 1.5s;
}

.main2:hover {
    box-shadow: 5px 5px 20px rgb(143, 142, 142);
}


.main2 #logo {
    width: 20%;

}

.main2 #logo img {
    margin-left: 58%;

}


.main2 h4 {
    text-align: center;
    font-style: italic;
    margin: 15px 5px;
    font-size: 22px;
    font-family: 'Montserrat', cursive;
    align-items: center;
    font-weight: bolder;



}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input {
    height: 25px;
    width: 250px;
    padding: 5px;
    margin-top: 15px;
    border: none;
    border-bottom: rgb(0, 112, 197, 0.767) solid 1px;
    border-radius: 5px;
}

.categoria {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.categoria label {
    margin-top: 15px;
}

.categoria input {
    margin-top: 10px;
    width: 250px;
    margin-bottom: 10px;
}

.passR {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.passR label {
    margin-left: 20px;
    align-items: center;
}

.passR input {
    margin-top: 10px;
    width: 250px;
    margin-bottom: 10px;
}

input[type=checkbox] {
    background-color: antiquewhite;

}

.botones button {
    width: 100px;
    height: 40px;
    margin: 20px 20px;
    color: rgba(255, 255, 191, 0.747);
    background-color: rgb(0, 112, 197, 0.767);
    border-radius: 5px;
    border-style: none;
    transition: background-color 1s;
    align-items: center;

}



.botones label {
    align-items: center;
    margin-left: 120px;
}

.botones button a {
    color: white;
    text-decoration: none;
}

footer button a {
    color: rgb(255, 255, 191);

}





/*user profile fin*/

@media (min-width: 361px) {
    .main {
        margin: 20% auto;
    }

    .main2 {
        margin: 20% auto;
    }
}

@media (min-width: 768px) {
    body {
        background-size: cover;
    }

    .main {
        margin: 5% auto;
    }

    .main2 {
        margin: 5% auto;
    }

}