* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url(/images/fondoLogin.jpg);
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Montserrat', sans-serif;
    flex-direction: row;
    justify-content: center;
}

a {
    text-decoration: none;
}

.main {
    background-color: rgba(255, 191, 248, 0.747);
     max-width: 276px;
     margin: 25% auto;
     border-radius: 15px;
     box-shadow: 2px 2px 10px rgb(143, 142, 142);
     transition: box-shadow 1.5s;
}

.main:hover {
        box-shadow: 5px 5px 20px rgb(143, 142, 142);
}

.logo-login {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

.logo-login img {
    margin-top: 20px;
}

h1 {
    text-align: center;
    max-width: 100px;
    margin: 15px auto;
    font-family: 'sans serif';

}

.registro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    font-weight: bold;
}

.registro input {
    height: 24px;
    padding: 5px;
    margin-left: -5px;
    border: none;
    border-bottom: rgb(0, 197, 194) solid 2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.mail   {
    text-align: left;
    margin: 15px auto;
    max-width: 235px;

}
.mail i {
    background-color: rgba(0, 112, 197, 0.767);
    color: rgb(191, 241, 255);
    width: 30px;
    height: 25px;
    text-align: center;
    line-height: 25px; 
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 
}

.mail input {
    height: 25px;
    margin-left: -5px;
    border-style:solid;
    border: none;
    border-bottom: solid rgba(0, 112, 197, 0.767) 2px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.pass   {
    text-align: left;
    margin: 20px auto;
    max-width: 235px;
    position: relative;
}

.pass i {
    background-color: rgb(0, 112, 197, 0.767);
    color: rgb(255, 255, 191);
    width: 30px;
    height: 25px;
    padding: 6px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; 
}

.ver {
    position: absolute;
    left: 200px;
    top: 5px;
    background-color: white;
    color: rgb(151, 150, 150) ;
}

.terminos {
    display: flex;
    max-width: 215px;
    margin: 5px auto;
}

.registro p {
    text-align: center;
    font-size: 10px;
    padding: 15px;
}

.forgot {
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
    padding: 15px;
}

.terminos p {
    text-align: left; 
    margin-left: 5px;
    font-size: 10px;
    padding: 0px;
}

.registro button a {
    color: rgb(255, 255, 191);
}

.registro button {

    width: 100px;
    height: 30px;
    margin: 15px auto;
    color: rgb(255, 255, 191);
    background-color: rgb(0, 112, 197, 0.767);
    border-radius: 5px;
    border-style: none;
    transition: background-color 1s;
 }

 .registro button:hover {
    background-color: rgb(5, 170, 5);
}


@media (min-width: 768px){
    body {
        background-size: cover;
}

    .main {
        margin: 5% auto;
    }

    .main2 {
        margin: 5% auto;
    }

}

