body{
    background-image: url(/images/fondoLogin.jpg);
}

.main2 {
    background-color: rgba(255, 191, 248, 0.747);
    width: 355px;
    margin: 5% auto;
    border-radius: 15px;
    box-shadow: 2px 2px 10px rgb(143, 142, 142);
    transition: box-shadow 1.5s;
}

.main2:hover {
        box-shadow: 5px 5px 20px rgb(143, 142, 142);
}


.main2 #logo-registro{
   width: 20%;
   
}

.main2 #logo-registro img{
    margin-left: 58%;
    
 }
 

h4 {
    text-align: center;
    font-style: italic;
    margin: 15px 5px;
    font-size: 12px;
    font-family: 'Montserrat', cursive;


}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input {
    height: 25px;
    width: 250px;
    padding: 5px;
    margin-top: 15px;
    border: none;
    border-bottom: rgb(0, 112, 197, 0.767) solid 1px;
    border-radius: 5px;
}
.nacimiento {
    display: flex;
    flex-direction: column;
    align-items: left;

}

.nacimiento label {
    margin-top: 15px;
}

.nacimiento input {
    margin-top: 10px;
    width: 250px;
    margin-bottom: 10px;
}

.intereses {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 200px;
    line-height: 25px;
    margin-left: -5px;
}

.intereses h4 {
    font-size: 18px;
    text-align: left;
}

.intereses input {
    margin-top: 0px;
    
    height: initial;
    width: 20%;
}



.checks {
    display: flex;
    width: 100%;
    align-items: center;
    margin-right: 50px;
}

.foto {
    display: flex;
    flex-direction: column;
    width: 250px;

}
.foto label {
    text-align: left;
    margin-top: 15px;
}

.foto input {
    padding: 0px;
    margin: 5px 0px;
    height: 30px;
    border: none;
}

.passR {
    display: flex;
    flex-direction: column;
    align-items: left;
    }

.passR input {
    margin-top: 10px;
    width: 250px;
    margin-bottom: 10px;
}

input[type=checkbox]{
   background-color: antiquewhite;

}

.botones button{
    width: 100px;
    height: 30px;
    margin: 20px 30px;
    color: rgba(255, 255, 191, 0.747);
    background-color: rgb(0, 112, 197, 0.767);
    border-radius: 5px;
    border-style: none;
    transition: background-color 1s;
}

.botones button a{
    color: white;
    text-decoration:none;
}

footer button a{
    color: rgb(255, 255, 191);
    
}




/*user profile fin*/

@media (min-width: 361px){
    .main {
        margin: 20% auto;
    }
    .main2 {
        margin: 20% auto;
    }
}

@media (min-width: 768px){
    body {
        background-size: cover;
}

    .main {
        margin: 5% auto;
    }

    .main2 {
        margin: 5% auto;
    }

}