<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The NFT Market Website</title>
    <link rel="stylesheet" href="/css/homeNueva.css">
  </head>
  <body>
    <header>
      <img src="/images/5modified.png" class="logoHome" id = "logoHome">
        <ul>
            <li ><a class="active">Inicio</a></li>
            <li><a href="/productos">Productos</a> </li>
            <li><a href="usuario/login">Ingresar</a></li>
            <li><a href="usuario/registro">Registrarse</a></li>
        </ul>
    </header>
    <section>
      <img src="/images/astronaut.png" id = "stars">
    </section>
    
  </body>
</html>