<header id="myHeader">
    <section class="lateral-header">
        <img class="Logo" src="images/5.png" alt="Logo">
        <!-- <div class="nft-barra-busqueda">
                    <p class="nft-p-header">NFT</p> 
                    <section class = "barra-busqueda-icono"> 
                        <i class="fa-solid fa-magnifying-glass" id = "icono-lupa"></i>
                        <input class = "barra-busqueda" placeholder="Buscar coleccionables y colecciones" type="text"></input>            
                    </section>
                </div> -->
        <!--SOLO PARA VERSIÓN MOBILE-->
        <div class="caja-flex-mobile">


            <ul class="primera-lista-mobile">

                <li><a class="opciones-lista" href="tiendas-oficiales.html">Ingresa</a></li>
                <li><a class="opciones-lista" href="vender.html">Registrate</a></li>
                <li>
                    <div class="burger-menu-mobile">
                        <i class="fas fa-bars"></i>
                </li>
            </ul>


            <div class="search">
                <input type="text" class="searchTerm" placeholder="Buscar colecciones">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>

        <!--SOLO PARA VERSIÓN MOBILE-->
        <div class="nft-barra-busqueda">
            <div class="search">
                <input type="text" class="searchTerm" placeholder="Buscar colecciones">
                <button type="submit" class="searchButton">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>

        <div class="navbar">
            <!--SOLO VERSIÓN 1024PX TABLET HORIZONTAL Y ESCRITORIOS NORMALES -->
            <ul class="version-escritorio-normal-Marketplace">
                <li><a href=".html">Marketplace</a></li>
            </ul>
            <ul class="primera-lista">
                <li><a href=".html">Marketplace</a></li>
                <li><a href="tiendas-oficiales.html">Drops</a></li>
                <li><a href="vender.html">Marcas</a></li>
                <li><a href="ayuda.html">Crear</a></i></li>
            </ul>
            <ul class="segunda-lista">
                <li id="hola"> <a href="/registro">Conectarse</a></li>
                <li><a href="/login">Registrarse</a></li>
            </ul>
            <!--SOLO VERSIÓN 1024PX TABLET HORIZONTAL Y ESCRITORIOS NORMALES -->
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            <!-- <ul class="tercer-lista">
                                    <li id="hola"><a href="/register.html">Español</a></li>
                                </ul> -->
        </div>

    </section>

</header>