



<header class="headerProducto">
    
    <img  src="/images/5modified.png" alt="Logo" class="img-logo">
    <ul type="none">
        <li><a href="#" class="active">Detalle Producto</a></li>
        <li><a href="/productos">Explorar Productos</a></li>
        <li><a href="/productos/crear">Crear Nuevo </a></li>
    
    </ul>
    <div class="botonesIncioRegistro">
    <a  href="/usuario/login"><button class="button">Iniciar Sesión</button></a>
    <a  href="/usuario/registro"><button class="button">Registrarse</button></a>
    </div>
    <a class="menuCelular" href="#"><img src="/images/burguer.png" alt="menu"></a>
</header>

