<header>
    <img src="images/logo.png" alt="Logo" class="img-logo">
    <ul type="none">
        <li><a href="#">Marketplace</a></li>
        <li><a href="#">Drops</a></li>
        <li><a href="#">Marcas</a></li>
        <li><a href="#">Crear</a></li>
    </ul>
    <button class="button" type="submit">Iniciar Sesión</button>
    <a class="menuCelular" href="#"><img src="images/burguer.png" alt="menu"></a>
</header>
