



<header class="headerProducto">
    
    <img  src="/images/5modified.png" alt="Logo" class="img-logo">
    <ul type="none">
        <li><a href="#" class="active">Detalle Producto</a></li>
        <li><a href="#">Explorar Productos</a></li>
        <li><a href="#">Crear Nuevo </a></li>
    
    </ul>
    <div class="botonesIncioRegistro">
    <button class="button" type="submit">Iniciar Sesión</button>
    <button class="button" type="submit">Registrarse</button>
    </div>
    <a class="menuCelular" href="#"><img src="/images/burguer.png" alt="menu"></a>
</header>

