
<header class="headerProducto">
    
    <img  src="/images/5modified.png" alt="Logo" class="img-logo">
    <div class="nft-barra-busqueda">
        <section class = "barra-busqueda-icono"> 
            <i class="fa-solid fa-magnifying-glass" id = "icono-lupa"></i>
            <input class = "barra-busqueda" placeholder="Buscar coleccionables y colecciones" type="text"></input>            
        </section>
    </div> 
    <ul type="none">
        <li><a href="/productos" >Productos</a></li>
        <li><a href="/carrito">Tu Carrito</a></li>
       
        <% if(locals.isLogged){ %> 
        <li><a href="/productoS/crear">Crear Nuevo </a></li>
    <ul>
      
            
      <li> <a href="/usuario/profile">Perfil </a></li>
       <li><a href="/usuario/logout">Logout </a></li>
    </ul>
    </ul>
    <% } else{ %> 
    <div class="botonesIncioRegistro">
        <a class="textoBotonHeaderProductos" href="/usuario/login"><button class="button">Iniciar Sesión</button></a>
        <a class="textoBotonHeaderProductos" href="/usuario/registro"><button class="button">Registrarse</button></a>
    </div>
    <% } %> 
    <a class="menuCelular" href="#"><img src="/images/burguer.png" alt="menu"></a>
</header>

