<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>NFT - login</title>
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/stylesLogin.css">
        <link rel="stylesheet" href="/css/stylesHeader.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ephesis&display=swap" rel="stylesheet"> 
        <link rel="SHORTCUT ICON" href="/img/icono.png">
    </head>
<body>
    
    <div class="main">

        <div class="logo-login">
            <img class="logo-login" src="/images/5.png" alt="Logo">
        </div>
        <h1>NFT</h1>
        <ul id="errores" class = "errores"></ul>

    <form action="/usuario/login" method="POST" class="form" enctype="multipart/form-data">
        <div class="mail">
            <i class="far fa-envelope"></i> 
            <input type="email" id="correo_usuario" name="correo_usuario" placeholder="Email"> 
            <% if (locals.errors && errors.correo_usuario){ %>
                <div class="text-danger">
                       <%= errors.correo_usuario.msg %> 
                    </div> 
                    <% } %> 
        </div>
        <div class="pass">
            <i class="fas fa-lock lock"></i>
            <input type="password" id="contrasena_usuario" name="contrasena_usuario" placeholder="Contraseña">
            <i class="far fa-eye-slash ver"></i>   
            <% if (locals.errors && errors.password){ %>
                <div class="text-danger">
                       <%= errors.password.msg %> 
                    </div> 
                    <% } %>          
        </div>
        <div>
            <label>
            <input type="checkbox" name="remember_usuario"> Recordar mi usuario
        </label>
        </div>

        <button type="submit">Ingresar</a></button>

        <a href="#reset" class="forgot">¿Olvidaste tu contraseña?</a>

    </form>
</div>
<%- include("../partials/footer")  %> 

<script src="/js/login.js"></script>
</body>

</html>