<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <title>Document</title>
    <link rel="stylesheet" href="/css/styles-productos.css">
    <link rel="stylesheet" href="/css/stylesHeader.css">
</head>
<body>
    <%- include("../partials/header-producto")  %> 

    <main>
        <section class="section1">
            <div class="section1-div1">
                <img src="images/lebron.png" alt="imagen producto" class="img-producto">
            </div>
            <div class="section1-div2">
                

                <div class="detalle">
                    <h1 class="titulo-producto"> Lebron James</h1>
                    <p>Vendido por 30 coleccionistas</p>
                </div>

                <div class="precio">
                    <p class="top-venta"> Mayor venta : 3000USD</p>
                    <p> Precio actual: 1500 USD</p>
                </div>

                <div class="div-button-box">
                    <button class="button-div" type="submit">AGREGAR AL CARRITO</button>
                    <button class="button-div" type="submit">COMPRAR AHORA</button>
                </div>
                
            </div>
        </section>

        <section class="descripcion">
            <p>
                A lo largo de su ilustre carrera de 19 años, la superestrella de Los Angeles Lakers, LeBron James, nunca ha huido a un momento clave, ya sea que esté haciendo una jugada para sí mismo o para uno de sus compañeros de equipo. 
                Él toma el destino de los Lakers en sus propias manos con un confiado triple desde el centro de la ciudad seguido de su característica celebración "Silencer" para calmar a la multitud al final del último cuarto. 
                El gran tiro de James fue parte de un monstruoso esfuerzo de 39 puntos en una victoria en tiempo extra por 124-116 sobre los Indiana Pacers el 24 de noviembre de 2021.
            </p>
        </section>


    </main>

    <%- include("../partials/footer")  %> 
</body>
</html>